body {
    font-family: Arial, sans-serif;
    background-color: #060606;
    text-align: center;
    padding: 20px;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


textarea, #preview {
    width: 100%;
    height: 400px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

#preview {
    background-color: #e0f7fa; 
    overflow-y: auto;
    word-wrap: break-word;
}


h1, h3 {
    margin-bottom: 20px;
}
h1 {
    color: #6a1b9a;
}

h3 {
    color: #025b05;
}


#editor {
    border: 2px solid #6a1b9a; 
}

#preview {
    border: 2px solid #4caf50; 
}


p {
    margin: 20px 0;
}

pre {
    background: #2d2d2d;
    color: #f8f8f2;
    padding: 15px;
    border-radius: 5px;
    overflow: auto;
}


@media (max-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;
    }

    textarea, #preview {
        height: 200px;
    }
}


